body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 30px;

    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

/* GRID MENU */
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* CARDS */
.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    transition: all 0.2s ease;
}

.card span {
    margin-top: 10px;
}

/* HOVER */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    background: #f9fafc;
}

/* ICONOS GRANDES */
.card {
    font-size: 40px;
}

.card span {
    font-size: 16px;
}


.top-bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.btn-back {
    background: #6c757d;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.btn-back:hover {
    background: #5a6268;
}