{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Cerrar Pedido</title>
    <link rel="stylesheet" href="{% static 'pedidos/css/cerrar_pedido.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Cerrar pedido</h1>

{% if pedido_actual %}

    <ul>
        {% for item in items %}
            <li>
                {{ item.cantidad }} x {{ item.producto }} -
                Precio Unitario: ${{ item.precio_unitario|floatformat:0 }} -
                Subtotal: ${{ item.subtotal|floatformat:0 }}
            </li>
        {% endfor %}
    </ul>

    <p>Subtotal: ${{ total }}</p>

    {% if pedido_actual.restaurante.propina_activa %}

        <form method="POST">
            {% csrf_token %}

            <p>
                Propina ({{ pedido_actual.restaurante.porcentaje_propina }}%): ${{ propina|floatformat:0 }}
            </p>

            <p>
                <strong>Total con propina: ${{ total_con_propina|floatformat:0 }}</strong>
            </p>
            <button type="submit" name="usar_propina" value="1">
               Cobrar con propina
            </button>

            <button type="submit" name="usar_propina" value="0">
                 Cobrar sin propina
            </button>

        </form>

    {% else %}

        <p><strong>Total: ${{ total }}</strong></p>
        <form method="POST">
          {% csrf_token %}
          <button type="submit">Cobrar</button>
        </form>

    {% endif %}

    <ul>
        <li>Mesa: {{ pedido_actual.mesa }}</li>
        <li>Personal: {{ request.user.perfil }}</li>
        <li>Fecha: {{ pedido_actual.fecha|date:"d/m/Y H:i" }}</li>
    </ul>

{% else %}

    <p>No hay pedidos pendientes para esta mesa.</p>

{% endif %}

<a href="{% url 'detalle_mesa' mesa.id %}">Volver</a>




</body>
</html>