<!doctype html>

<html>

<body>

<h1>{{ restaurante.nombre }}</h1>

<p>Retiro: {{ restaurante.acepta_retiro }}</p>

<p>Delivery: {{ restaurante.acepta_delivery }}</p>

<p>Efectivo retiro: {{ restaurante.acepta_efectivo_retiro }}</p>

<p>Efectivo delivery: {{ restaurante.acepta_efectivo_delivery }}</p>

<p>Tarjeta retiro: {{ restaurante.acepta_tarjeta_retiro }}</p>

<p>Tarjeta delivery: {{ restaurante.acepta_tarjeta_delivery }}</p>

<p>Transferencia retiro: {{ restaurante.acepta_transferencia_retiro }}</p>

<p>Transferencia delivery: {{ restaurante.acepta_transferencia_delivery }}</p>

<p>Banco: {{ restaurante.banco_transferencia }}</p>

<p>Tipo cuenta: {{ restaurante.tipo_cuenta_transferencia }}</p>

<p>Número: {{ restaurante.numero_cuenta_transferencia }}</p>

<p>Titular: {{ restaurante.titular_transferencia }}</p>

<p>RUT: {{ restaurante.rut_transferencia }}</p>

<p>Correo: {{ restaurante.correo_transferencia }}</p>

</body>

</html>