{% load static %}

<!doctype html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        {{ restaurante.nombre }} | Carta
    </title>

    <link
        rel="stylesheet"
        href="{% static 'carta/css/carta.css' %}"
    >

</head>

<body>

    <h1>
        {{ restaurante.nombre }}
    </h1>

    {% if restaurante.logo %}

        <p>
            TIENE LOGO
        </p>

    {% else %}

        <p>
            NO TIENE LOGO
        </p>

    {% endif %}

    {% if restaurante.descripcion %}

        <p>
            {{ restaurante.descripcion }}
        </p>

    {% endif %}

    {% if restaurante.estado == 'abierto' %}

        <p>
            ABIERTO
        </p>

    {% endif %}

    {% if caja_abierta %}

        <p>
            CAJA ABIERTA
        </p>

    {% endif %}

</body>

</html>